<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>icon-KeepFrame</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>turq</string>
		<key>UIImageName</key>
		<string>iconKF</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
	</dict>
	<key>bundleic</key>
	<string></string>
</dict>
</plist>
